
body {
  font-family: Helvetica, sans-serif;
  background-color: #E5E5E5;
}

h1 {
  color: #DF2C14;
  font-size: 700%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

p {
  color: #DF2C14;
  font-weight: lighter;
}



#mydiv {
  position: absolute;
  z-index: 9;
  border: 1px solid #3a3a3a;
  text-align: center;
  cursor: move;
}

.img40 {
  display: block;
  background-image: url(image/40.JPG);
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}




#mydivheader {
  padding: 5px;
  width: 200px;
  cursor: move;
  z-index: 10;
  background-color: white;
  opacity: .8;
  color: black;
  font-weight: lighter;
}

