

img {
    width:40vw;
    margin: 40px;
    border-radius: 50%;
}

body {
    margin: auto;
    font-family: futura;
    text-align: center;
}

h {
    color:rgb(83, 73, 66); 
    font-size: 40px; 
}

h2 {
    color:rgb(83, 73, 66); 
    font-size: 25px; 
}

p {
    color:rgb(83, 73, 66);
    font-size: 15px;
    margin: 50px;
}

a {
    color:#4d6a75;
    text-decoration: none;
}

#web-ring {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color:#e4b389;
    font-family: futura;
    font-size: 10px;
  }

  #web-ring a:link {
    color: #d6ecf5;
    text-decoration: none;
  }

  #web-ring a:hover {
    text-decoration: underline;
  }

  #web-ring2 {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color:#e4b389;
    font-family: futura;
    font-size: 10px;
  }

  #web-ring2 a:link {
    color: #d6ecf5;
    text-decoration: none;
  }

  #web-ring2 a:hover {
    text-decoration: underline;
  }

  .firefly {
    position: fixed;
   width: 10%;
   height: 20%;
  }