

img {
    width:40vw;
    margin: 40px;
    border-radius: 50%;
}

body {
    margin: auto;
    font-family: futura;
    text-align: center;
}

h {
    color:rgb(83, 73, 66); 
    font-size: 40px; 
}

h2 {
    color:rgb(83, 73, 66); 
    font-size: 25px; 
}

p {
    color:rgb(83, 73, 66);
    font-size: 15px;
    margin: 50px;
}

a {
    color:#4d6a75;
    text-decoration: none;
}

