
body {
    font-family: Arial;
    background-color: rgb(228, 220, 220);
    cursor: none;
}


h1 {
    font-weight: normal;
    font-size: 1rem;
    margin:0;
}

h2 {
    font-weight: normal;
    font-size: 7rem;
}


.hidden {
    display: none !important;
  }




.whole {
    width: 100vw;
    height: 100vh;
    /*
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    */
    background-color: rgb(143, 188, 153);
}







.cursor {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all .2s ease;
    backdrop-filter: invert();
}


.link-grow {
    transform: scale(3);
    background: black;

}







.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    position: relative;
}



.title{
    display: block;
    position: absolute;
}


/* The div that holds the navigation and places it on a page*/
#navi {
    display: block;
    z-index: 0;
    text-align: center;
    overflow:scroll;
    
}

/*
  #mydiv {
    display: block;
background-color: seagreen;
margin: 0;
width: 20vw;
height: 100vh;
overflow:hidden;
  }
*/

#mydiv {
  margin-left: 20vw;
    height: 100vh;
    width: 40vw;
    background-color: red;
    display: block;
    position: fixed;
}


/* The div that hold the navigation and makes it scrollable*/
.frame {
display: block;
position: absolute;
 margin: 0;
width: 150%;
height: 100vh;
overflow: auto;
}


/* The container of the navigation boxes*/
.photo-container {
padding-top: .5rem;
    height: 200px;
   border: 1px solid black;
   background-color: white;
    align-content:center;
    cursor:default;
    overflow:hidden;
    
}

/* The image in the navigations*/
.photo-image2 {
    width: 100%;
    margin-top: -150px;
    height: auto;
    display: block;
    filter: invert(100%);
    
}








/* The container of the pop up box*/
.image-container {
    width: auto;
    align-self: right;
position: fixed;
        cursor:initial;
        overflow:auto;
        z-index: -3;
    }


/* The image in the pop up box*/
.photo-image {
    width: 100px;
    height: auto;
    display: none;
    filter: invert(100%);
}


.photo-image.active {
    display: block;
}

.photo-description {
    display: none;
}

.photo-description.active {
    display: block;
    background-color: rgb(228, 220, 220);
}

.photo-title {
    display: none;
}

.photo-title.active {
    display: block;
    background-color: rgb(228, 220, 220);
}


