
body {
    font-family: Arial;
    background-color: rgb(228, 220, 220);
}


h1 {
    font-weight: normal;
    font-size: 1rem;
    margin:0;
}

h2 {
    font-weight: normal;
    font-size: 7rem;
    margin-top: 0;
    margin-bottom: 50px;
}


.hidden {
    display: none !important;
  }


/* The div that holds the navigation and places it on a page*/
#navi {
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-left: 70vw;
}


  #mydiv {
    position: absolute;
    z-index: 0;
    border: 1px solid #3a3a3a;
    text-align: center;
    cursor: move;

  }




/* The div that hold the navigation and makes it scrollable*/
.frame {
 margin: 0;
width: 300px;
height: 100vh;
overflow: auto;
}


/* The container of the navigation boxes*/
.photo-container {
padding-top: .5rem;
    margin-top: 1rem;
    height: 100px;
   border: 1px solid black;
    border-radius: 20px;
    align-content:center;
    cursor:default;
    overflow:hidden;
}

/* The image in the navigations*/
.photo-image2 {
    width: 100%;
    margin-top: -100px;
    height: auto;
    display: block;
    filter: invert(100%);
}




/* The container of the pop up box*/
.image-container {
    width: auto;
    margin-left: 10px;
    align-self: right;
position: absolute;
        cursor:initial;
        overflow:auto;
        cursor: move;
    }


/* The image in the pop up box*/
.photo-image {
    width: 300px;
    height: auto;
    display: none;
    filter: invert(100%);
}


.photo-image.active {
    display: block;
}

.photo-description {
    display: none;
}

.photo-description.active {
    display: block;
    background-color: rgb(228, 220, 220);
}

.photo-title {
    display: none;
}

.photo-title.active {
    display: block;
    background-color: rgb(228, 220, 220);
}


